### 리스트
- 언어의 배열과 비슷한 개념
- 파이썬에는 배열 구조가 없기 때문에 리스트를 배열 대신으로 사용
- 1차원 배열과 동일

#### 리스트 생성
```python
리스트명 = [value1, value2, ...]
```

In [26]:
# 리스트 생성
aa = [10, 20, 30, 40]

In [27]:
# 변수 확인
aa

[10, 20, 30, 40]

In [28]:
# 인덱싱
aa[0]

10

In [29]:
# 값 할당
aa[1] = 2000
aa

[10, 2000, 30, 40]

#### 빈 리스트 생성, 항목 추가

In [30]:
# 빈 리스트 생성
aa = []

In [31]:
# 항목 추가
aa.append(10)
aa.append(30)
aa.append(50)
aa.append(70)
aa

[10, 30, 50, 70]

In [32]:
# 반복문으로 항목추가
aa = []
for i in range(10, 80, 20):
    aa.append(i)
aa

[10, 30, 50, 70]

In [33]:
aa = [0, 0, 0, 0]
aa[0] = 20
aa[1] = 40
aa[2] = 60
aa[3] = 80

aa

[20, 40, 60, 80]

In [34]:
aa = []

for i in range(0, 4):
    aa.append(i)

aa

[0, 1, 2, 3]

In [35]:
sum = 0

for i in range(0, 4):
    aa[i] = int(input(f'{i} 번째 숫자 : '))

aa

[100, 200, 300, 400]

In [36]:
for i in range(0, 4):
    sum += aa[i]

f'합계 ==> {sum}'

'합계 ==> 1000'

#### Tip
- 주피터노트북에서는 한 쉘에서 하나의 변수값만 출력됨
- 가장 아래에 있는 변수만

In [ ]:
aa
sum

[100, 200, 300, 400]

- 여러 변수값을 다 출력하고 싶으면
- print() 함수 사용할 것

In [ ]:
print(aa)
print(sum)

#### 슬라이싱
- 리스트를 범위별로 자르는 법

In [37]:
aa = [1,3,5,7,9,11,13,15,17,19]

In [38]:
# [1,3,5]
aa[0:3]

[1, 3, 5]

In [39]:
aa[8:9]

[17]

In [40]:
aa[5:]

[11, 13, 15, 17, 19]

In [42]:
aa[:5]

[1, 3, 5, 7, 9]

In [43]:
aa[::-1]

[19, 17, 15, 13, 11, 9, 7, 5, 3, 1]

In [47]:
aa[::2]

[1, 5, 9, 13, 17]

#### 리스트 내장 함수(연산)

In [48]:
myList = [30, 10, 20, 50]
f'현재 리스트 : {myList}'

'현재 리스트 : [30, 10, 20, 50]'

In [49]:
myList.append(40)
f'40 추가 후 리스트 : {myList}'

'40 추가 후 리스트 : [30, 10, 20, 50, 40]'

In [50]:
# pop() - 스택 push, pop 중 데이터 꺼내오기
f'pop으로 꺼낸 값 : {myList.pop()}'

'pop으로 꺼낸 값 : 40'

In [51]:
f'pop 이후 데이터 : {myList}'

'pop 이후 데이터 : [30, 10, 20, 50]'

In [54]:
# 데이터 순서 바꾸기
myList.reverse()
myList

[50, 20, 10, 30]

In [ ]:
# 정렬 - 오름차순
myList.sort()
f'오름차순 정렬 후 데이터 : {myList}'

'정렬 후 데이터 : [10, 20, 30, 50]'

In [56]:
# 정렬 - 내림차순
myList.sort(reverse=True)
f'내림차순 정렬 후 데이터 : {myList}'

'내림차순 정렬 후 데이터 : [50, 30, 20, 10]'

In [57]:
f'20의 위치(인덱스) : {myList.index(20)}'

'20의 위치(인덱스) : 2'

In [58]:
# append() X, 원하는 위치에 데이터 추가
myList.insert(2, 90)
f'index 2에 90 추가 후 데이터 : {myList}'

'index 2에 90 추가 후 데이터 : [50, 30, 90, 20, 10]'

In [59]:
# 삭제
myList.remove(30)
myList

[50, 90, 20, 10]

In [60]:
myList.append(30)
myList.append(70)
myList.append(30)
myList

[50, 90, 20, 10, 30, 70, 30]

In [ ]:
# 같은 수가 여러개 있어도 한번만 삭제됨(앞에 있는 데이터)
# 데이터가 없으면 예외발생(ValueError)
myList.remove(30)
myList

[50, 90, 20, 10, 70, 30]

In [62]:
myList.extend([80, 100, 40])
myList

[50, 90, 20, 10, 70, 30, 80, 100, 40]

In [64]:
myList.count(70)

1

In [66]:
myList.clear()
myList

[]

In [67]:
myList.append(10)
myList

[10]

### 2차원 리스트
- 2차원 배열 - Matrix(행렬)

In [68]:
matrix = [
    [1,2,3,4],
    [5,6,7,8],
    [9,10,11,12]
]

In [73]:
matrix

[[1, 2, 3, 4], [5, 6, 7, 8], [9, 10, 11, 12]]

In [ ]:
# 행과 열의 인덱스 값
matrix[1][3]

8

In [ ]:
# 행의 데이터
matrix[2]

[9, 10, 11, 12]

In [72]:
# 열의 데이터
bb = [i[3] for i in matrix]
bb

[4, 8, 12]

In [2]:
# 2차원 리스트를 2차원으로 출력
list1 = []
list2 = []
value = 1

for i in range(0, 3):   # 3행
    for j in range(0, 4):   # 4열
        list1.append(value) # [1,2,3,4]
        value += 1

    list2.append(list1) # [[1,2,3,4],[5,6,7,8],[9,10,11,12]]
    list1 = []  # list1.clear() 사용하면 안됨

list2

[[1, 2, 3, 4], [5, 6, 7, 8], [9, 10, 11, 12]]

In [3]:
for i in range(3):  # range(0, 3)
    for j in range(4):  # range(0, 4)
        print(f'{list2[i][j]:<3d}', end=' ')
    print()

1   2   3   4
5   6   7   8
9   10  11  12